{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Begin Content -->
    <div class="main-container">
        <!-- About us -->
        <section class="iq-resume wrapper">
            <div class="container-fluid h-100">
                <div class="row row-eq-height h-100">
                    <div class="col-md-3 purple-bg">
                        <div class="iq-objects">
                                <!-- BACKGROUND PARTICLES -->   
                                <div id="particles-js"></div>
                                <span class="iq-objects-01">
                                    <img class="img-fluid" src="{% static 'images/01.png' %}" alt="drive">
                                </span>
                            </div>
                    </div>
                    <div class="col-md-9 main-content align-self-center">
                        <div id="boxscroll" class="inner-box">
                            <div class="resume-deta iq-plr-40">
                                <div class="row white-bg">
                                    <div class="col-md-12">
                                        <div class="main-title">
                                            <small>My Work Experience</small>
                                            <h1 class="display-4 iq-tw-8 iq-font-purple">Resume</h1>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="title iq-tw-8">Education</h3>
                                        <ul class="education">
                                            {% for obj in objects_list_edu_one %}
                                            <li><span></span>
                                                <div>
                                                    <div class="lead iq-tw-6 iq-font-black">{{ obj.title }}</div>
                                                    <div class="type iq-font-purple">{{ obj.location }}</div>
                                                    <div class="info">{{ obj.description|linebreaks }}
                                                        <p><a class="button more iq-mt-30" href="{% url 'resume-education-detail' id=obj.id %}">View More</a></p>
                                                    </div>
                                                </div> <span class="number"><span>{{ obj.start_year }}</span> <span>{{ obj.stop_year }}</span></span>
                                            </li>
                                            {% endfor %}
                                            {% for obj in objects_list_edu_two %}
                                            <li><span></span>
                                                <div>
                                                    <div class="lead iq-tw-6 iq-font-black">{{ obj.title }}</div>
                                                    <div class="type iq-font-purple">{{ obj.location }}</div>
                                                    <div class="info">{{ obj.description|truncatechars:360|linebreaks }}
                                                        <p><a class="button more iq-mt-30" href="{% url 'resume-education-detail' id=obj.id %}">View More</a></p>
                                                    </div>
                                                </div> <span class="number"><span>{{ obj.start_year }}</span> <span>{{ obj.stop_year }}</span></span>
                                            </li>
                                            {% endfor %}
                                            {% for obj in objects_list_edu_three %}
                                            <li><span></span>
                                                <div>
                                                    <div class="lead iq-tw-6 iq-font-black">{{ obj.title }}</div>
                                                    <div class="type iq-font-purple">{{ obj.location }}</div>
                                                    <div class="info">{{ obj.description|truncatechars:540|linebreaks }}
                                                        <p><a class="button more iq-mt-30" href="{% url 'resume-education-detail' id=obj.id %}">View More</a></p>
                                                    </div>
                                                </div> <span class="number"><span>{{ obj.start_year }}</span> <span>{{ obj.stop_year }}</span></span>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="title iq-tw-8">Experience</h3>
                                        <ul class="education">
                                            {% for obj in objects_list_exp_one %}
                                            <li><span></span>
                                                <div>
                                                    <div class="lead iq-tw-6 iq-font-black">{{ obj.title }}</div>
                                                    <div class="type iq-font-purple">{{ obj.location }}</div>
                                                    <div class="info">{{ obj.description|truncatechars:50|linebreaks }}
                                                        
                                                        <p><a class="button more iq-mt-30" href="{% url 'resume-experience-detail' id=obj.id %}">View More</a></p>
                                                        
                                                    </div>
                                                </div> <span class="number"><span>{{ obj.start_year }}</span> <span>{{ obj.stop_year }}</span></span>
                                            </li>
                                            {% endfor %}
                                            {% for obj in objects_list_exp_two %}
                                            <li><span></span>
                                                <div>
                                                    <div class="lead iq-tw-6 iq-font-black">{{ obj.title }}</div>
                                                    <div class="type iq-font-purple">{{ obj.location }}</div>
                                                    <div class="info">{{ obj.description|truncatechars:50|linebreaks }}
                                                        <p><a class="button more iq-mt-30" href="{% url 'resume-experience-detail' id=obj.id %}">View More</a></p>
                                                    </div>
                                                </div> <span class="number"><span>{{ obj.start_year }}</span> <span>{{ obj.stop_year }}</span></span>
                                            </li>
                                            {% endfor %}
                                            {% for obj in objects_list_exp_three %}
                                            <li><span></span>
                                                <div>
                                                    <div class="lead iq-tw-6 iq-font-black">{{ obj.title }}</div>
                                                    <div class="type iq-font-purple">{{ obj.location }}</div>
                                                    <div class="info">{{ obj.description|truncatechars:50|linebreaks }}
                                                        <p><a class="button more iq-mt-30" href="{% url 'resume-experience-detail' id=obj.id %}">View More</a></p>
                                                    </div>
                                                </div> <span class="number"><span>{{ obj.start_year }}</span> <span>{{ obj.stop_year }}</span></span>
                                            </li>
                                            {% endfor %}
                                            {% for obj in objects_list_exp_four %}
                                            <li><span></span>
                                                <div>
                                                    <div class="lead iq-tw-6 iq-font-black">{{ obj.title }}</div>
                                                    <div class="type iq-font-purple">{{ obj.location }}</div>
                                                    <div class="info">{{ obj.description|truncatechars:50|linebreaks }}
                                                       <p> <a class="button more iq-mt-30" href="{% url 'resume-experience-detail' id=obj.id %}">View More</a></p>
                                                    </div>
                                                </div> <span class="number"><span>{{ obj.start_year }}</span> <span>{{ obj.stop_year }}</span></span>
                                            </li>
                                            {% endfor %}
                                            {% for obj in objects_list_exp_five %}
                                            <li><span></span>
                                                <div>
                                                    <div class="lead iq-tw-6 iq-font-black">{{ obj.title }}</div>
                                                    <div class="type iq-font-purple">{{ obj.location }}</div>
                                                    <div class="info">{{ obj.description|truncatechars:50|linebreaks }}
                                                        <p><a class="button more iq-mt-30" href="{% url 'resume-experience-detail' id=obj.id %}">View More</a></p>
                                                    </div>
                                                </div> <span class="number"><span>{{ obj.start_year }}</span> <span>{{ obj.stop_year }}</span></span>
                                            </li>
                                            {% endfor %}
                                            {% for obj in objects_list_exp_six %}
                                            <li><span></span>
                                                <div>
                                                    <div class="lead iq-tw-6 iq-font-black">{{ obj.title }}</div>
                                                    <div class="type iq-font-purple">{{ obj.location }}</div>
                                                    <div class="info">{{ obj.description|truncatechars:50|linebreaks }}
                                                        <p><a class="button more iq-mt-30" href="{% url 'resume-experience-detail' id=obj.id %}">View More</a></p>
                                                    </div>
                                                </div> <span class="number"><span>{{ obj.start_year }}</span> <span>{{ obj.stop_year }}</span></span>
                                            </li>
                                            {% endfor %}
                                            {% for obj in objects_list_exp_seven %}
                                            <li><span></span>
                                                <div>
                                                    <div class="lead iq-tw-6 iq-font-black">{{ obj.title }}</div>
                                                    <div class="type iq-font-purple">{{ obj.location }}</div>
                                                    <div class="info">{{ obj.description|truncatechars:50|linebreaks }}
                                                        <p><a class="button more iq-mt-30" href="{% url 'resume-experience-detail' id=obj.id %}">View More</a></p>
                                                    </div>
                                                </div> <span class="number"><span>{{ obj.start_year }}</span> <span>{{ obj.stop_year }}</span></span>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="interests-deta grey-bg iq-pall-40 iq-mtb-50">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="title iq-tw-8 iq-mt-0">My Interests</h3>
                                        <ul class="interests">
                                            <li>
                                                <i class="fa fa-music" aria-hidden="true"></i>
                                                <h6>Music</h6>
                                            </li>
                                            <li>
                                                <i class="fa fa-laptop" aria-hidden="true"></i>
                                                <h6>Programing</h6>
                                            </li>
                                            <li>
                                                <i class="fa fa-car" aria-hidden="true"></i>
                                                <h6>Driving</h6>
                                            </li>
                                            <li>
                                                <i class="fa fa-plane" aria-hidden="true"></i>
                                                <h6>Traveling</h6>
                                            </li>
                                            <li>
                                                <i class="fa fa-bicycle" aria-hidden="true"></i>
                                                <h6>Bicycling</h6>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="skills iq-plr-40 iq-mt-80">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-md-6">
                                        <div class="skill-content">
                                            <h3 class="title iq-tw-8 iq-mt-0">My Language skills</h3>
                                            <p class="iq-mb-25"></p>
                                        </div>
                                        {% for language in language_RO %}
                                        <div class="iq-progress-bar-linear">
                                            <p class="iq-progress-bar-text iq-font-black">{{ language.language }} (native)
                                                <span>100/100</span>
                                            </p>
                                            <div class="iq-progress-bar">
                                                <span data-percent="100"></span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for language in language_EN %}
                                        <div class="iq-progress-bar-linear iq-font-black">
                                            <p class="iq-progress-bar-text">{{ language.language }}
                                                <span>60/100</span>
                                            </p>
                                            <div class="iq-progress-bar">
                                                <span data-percent="60"></span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for language in language_ES %}
                                        <div class="iq-progress-bar-linear iq-font-black">
                                            <p class="iq-progress-bar-text">{{ language.language }}
                                                <span>25/100</span>
                                            </p>
                                            <div class="iq-progress-bar">
                                                <span data-percent="25"></span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-md-6">
                                        <div class="skill-content">
                                            <h3 class="title iq-tw-8 iq-mt-0">My Technical skills</h3>
                                            <p class="iq-mb-25"></p>
                                        </div>
                                        {% for progr in progr_one %}
                                        <div class="iq-progress-bar-linear iq-font-black">
                                            <p class="iq-progress-bar-text">{{ progr.programing_language }}
                                                <span>100/100</span>
                                            </p>
                                            <div class="iq-progress-bar">
                                                <span data-percent="100"></span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for progr in progr_two %}
                                        <div class="iq-progress-bar-linear iq-font-black">
                                            <p class="iq-progress-bar-text">{{ progr.programing_language }}
                                                <span>100/100</span>
                                            </p>
                                            <div class="iq-progress-bar">
                                                <span data-percent="100"></span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for progr in progr_three %}
                                        <div class="iq-progress-bar-linear iq-font-black">
                                            <p class="iq-progress-bar-text">{{ progr.programing_language }}
                                                <span>60/100</span>
                                            </p>
                                            <div class="iq-progress-bar">
                                                <span data-percent="60"></span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for progr in progr_four %}
                                        <div class="iq-progress-bar-linear iq-font-black iq-mb-0">
                                            <p class="iq-progress-bar-text">{{ progr.programing_language }}
                                                <span>45/100</span>
                                            </p>
                                            <div class="iq-progress-bar">
                                                <span data-percent="45"></span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for progr in progr_five %}
                                        <div class="iq-progress-bar-linear iq-font-black iq-mb-0">
                                            <p class="iq-progress-bar-text">{{ progr.programing_language }}
                                                <span>55/100</span>
                                            </p>
                                            <div class="iq-progress-bar">
                                                <span data-percent="55"></span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for progr in progr_seven %}
                                        <div class="iq-progress-bar-linear iq-font-black iq-mb-0">
                                            <p class="iq-progress-bar-text">{{ progr.programing_language }}
                                                <span>65/100</span>
                                            </p>
                                            <div class="iq-progress-bar">
                                                <span data-percent="65"></span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for progr in progr_eight %}
                                        <div class="iq-progress-bar-linear iq-font-black iq-mb-0">
                                            <p class="iq-progress-bar-text">{{ progr.programing_language }}
                                                <span>35/100</span>
                                            </p>
                                            <div class="iq-progress-bar">
                                                <span data-percent="35"></span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Us End -->
    </div>
    <!-- Main Content End -->
{% endblock content %}