<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 purple-bg">
                <div class="footer-copyright text-warning">Copyright @ <span id="copyright">
                        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                        </span> <a class="text-info" href="mailto:rares.rusu29@gmail.com">Rares Rusu</a></div>
            </div>
            <div class="col-md-9">
                <ul class="follow-us pull-right">
                    <li>Follow Me :</li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="mailto:rares.rusu29@gmail.com"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/raresr/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->