{% load static %}
<!-- Header  -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light white-bg">
                <div class="col-md-3 purple-bg">
                    <a class="navbar-brand" href="/"><img src="{% static 'images/RaresR.png' %}" class="img-fluid"
                            alt="logo"></a>
                </div>
                <div class="col-md-9">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="ti-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto w-100 justify-content-end">
                            <li class="nav-item active">
                                <a class="nav-link" data-type="page-transition" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-type="page-transition" href="/about">About me</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-type="page-transition" href="/resume">resume</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-type="page-transition" href="/services">services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-type="page-transition" href="/portfolio">portfolio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-type="page-transition" href="/contact">contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- Header End -->