{% load static %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="{% static 'js/jquery-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- jquery-appear -->
<script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
<!-- owl-carousel -->
<script type="text/javascript" src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>
<!-- jquery-typer -->
<script type="text/javascript" src="{% static 'js/jquery.typer.js' %}"></script>
<!-- jquery-isotope -->
<script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<!-- Magnific-Popup -->
<script type="text/javascript" src="{% static 'js/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<!-- jquery Nicescroll -->
<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<!-- jquery Retina -->
<script type="text/javascript" src="{% static 'js/retina.min.js' %}"></script>
<!-- Particles -->
<script type="text/javascript" src="{% static 'js/particles/particles.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/particles/app.js' %}"></script>
<!-- Custom -->
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>